package ui

import (
	"github.com/throskam/kix/i18n"
)

type EditorProps struct {
	Value string
	ValidationMessages []string
}

templ Editor(props EditorProps) {
	@Textarea(TextareaProps{
		ID:     "editor",
		Name:   "content",
		Label:  i18n.T(ctx, "Content"),
		Placeholder: i18n.T(ctx, "Content"),
		Value:  props.Value,
		ValidationMessages: props.ValidationMessages,
	})
}